.title{
	text-align: center;
}

body{
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	background-color: rgb(185, 228, 192);
}

.cover_img{
	margin-top:65px;
	height:100px;
}
.main_container{
	display: grid;
	grid-template-columns: repeat(4,auto);
	grid-gap: 10px;
	margin: 50px;
	justify-content: center;
}

.card_container{
	position: relative;
	width: 188px;
	height: 263px;
	transition: all 0.5s ease;
}

.card{
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 0.5s ease;
}

.card:active{ 
	animation-duration: 2s;
	animation-name: spin;
	animation-iteration-count: 1;
	z-index: 3;
	

}

@keyframes spin{
	50%{
		transform: rotateY(180deg) scale(2.0);
		transition-duration: 2s;
		position: absolute;
	} 
}


.front{
	color:white;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	background: rgb(144, 144, 241);
	text-align: center;
	border-radius: 20px;
	text-align: center;
}

.back{
	color:white;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transform: rotateY(180deg);
	background: rgb(255, 110, 110);
	text-align: center;
	border-radius: 20px;
}

.rulesContainer{
	width: 100%;
	height: 500px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.rulesCard{
	width: 25%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 0.5s ease;
}

.rulesCard:active{
	transform: rotateY(180deg);
}

.frontRules{
	color:white;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	background: rgb(144, 144, 241);
	text-align: center;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;

}

.backRules{
	color:white;
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: larger;
	backface-visibility: hidden;
	transform: rotateY(180deg);
	background: rgb(255, 110, 110);
	text-align: center;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.summary{
	color: white;
	width: 30%;
	height: 70%;
	background: rgb(255, 110, 110);
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
}

.summaryh3{
	text-align: center;
}

.summaryh1{
	text-align: center;
}

.summaryh2{
	text-align: center;
}

.summaryp{
	text-align: center;
}

.summaryul{
	margin-left: 25%;
	
}

.shuffle_button{
	position: relative;
	grid-column-end:span 4;
	left:-300px;
	background-color: rgb(246, 233, 113);
	width: 150px;
	height: 50px;
	font-size: 40px;
	padding: 10px;
	border-radius: 20px;
	margin-left: 10px;
}

.shuffle_button:hover ~ .one-two{
	transform: translateX(-198px);
}

.shuffle_button:hover ~ .one-three{
	transform: translateX(-396px);
}

.shuffle_button:hover ~ .one-four{
	transform: translateX(-594px);
}

.shuffle_button:hover ~ .two-one{
	transform: translateY(-273px);
}

.shuffle_button:hover ~ .two-two{
	transform: translateX(-198px) translateY(-273px);
}

.shuffle_button:hover ~ .two-three{
	transform: translateX(-396px) translateY(-273px);;
}

.shuffle_button:hover ~ .two-four{
	transform: translateX(-594px) translateY(-273px)
}

.shuffle_button:hover ~ .three-one{
	transform: translateY(-546px);
}

.shuffle_button:hover ~ .three-two{
	transform: translateX(-198px) translateY(-546px);
}

.shuffle_button:hover ~ .three-three{
	transform: translateX(-396px) translateY(-546px);
}

.shuffle_button:hover ~ .three-four{
	transform: translateX(-594px) translateY(-546px);
}

.shuffle_button:hover ~ .four-one{
	transform: translateY(-819px);
}

.shuffle_button:hover ~ .four-two{
	transform: translateX(-198px) translateY(-819px);
}

.shuffle_button:hover ~ .four-three{
	transform: translateX(-396px) translateY(-819px);
}

.shuffle_button:hover ~ .four-four{
	transform: translateX(-594px) translateY(-819px);
}

.play_game{
	position: relative;
	grid-column-end:span 4;
	left:-300px;
	background-color: rgb(246, 233, 113);
	width: 150px;
	height: 50px;
	font-size: 40px;
	padding: 10px;
	border-radius: 20px;
	margin-left: 10px;
	text-align: center;	
}

#playgame:active ~ .card_container
{	
	animation-duration: 10s;
	animation-name: showAll;
	animation-iteration-count: 1;
	z-index: 3;
	transform-style: preserve-3d;
	transition: all 0.5s ease;
	
}
@keyframes showAll{
	25%{
		transform: rotateY(180deg);
		transition-duration: 6s;
	} 
	75%{
		transform: rotateY(180deg);
	}
}